<div class="form-container">
  <h1 class="form-title">{{ formType | changeTitle: "title" }}</h1>
  <mat-horizontal-stepper class="input-university">
    <mat-step label="Thông tin cơ bản">
      <p class="step-title">Thông tin cơ bản</p>
      <!-- Form here -->
      <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div formGroupName="basicInfo">
          <mat-form-field class="basic-info">
            <mat-label>Tên Trường</mat-label>
            <input
              matInput
              placeholder="VD: ĐH Ngoại Thương, ĐH Bách Khoa,..."
              formControlName="uniName"
            />
          </mat-form-field>
          <mat-form-field class="basic-info">
            <mat-label>ID Trường: </mat-label>
            <input
              class="id-input"
              formControlName="uniId"
              matInput
              placeholder="VD: FTU, BKU,..."
            />
          </mat-form-field>
          <mat-form-field class="basic-info">
            <mat-label>Ngày thành lập</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="MM/DD/YYYY"
              matInput
              formControlName="uniEstablishedDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="basic-info">
            <mat-label>Thông tin trường: </mat-label>
            <textarea
              rows="5"
              matInput
              placeholder="Thông tin trường..."
              formControlName="uniInfo"
            ></textarea>
          </mat-form-field>

          <p>Loại trường</p>
          <mat-radio-group formControlName="uniType">
            <mat-radio-button
              class="radio-select"
              color="primary"
              value="public"
              >Trường công</mat-radio-button
            >
            <mat-radio-button
              class="radio-select"
              color="primary"
              value="private"
              >Trường tư</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </form>
      <button
        mat-raised-button
        color="primary"
        matStepperNext
        [disabled]="step1ButtonDisabled"
        class="button-next"
      >
        Tiếp Theo
      </button>
    </mat-step>

    <!-- Step 2 -->
    <mat-step label="Nhập Điểm">
      <p>Nhập điểm từng khối thi:</p>
      <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div formGroupName="scores" class="scores">
          <mat-form-field class="score-field">
            <mat-label>Điểm Khối A:</mat-label>
            <input
              type="text"
              matInput
              placeholder="VD: 25, 25.5, 26,..."
              formControlName="groupA"
            />
          </mat-form-field>
          <mat-form-field class="score-field">
            <mat-label>Điểm Khối B:</mat-label>
            <input
              type="text"
              matInput
              placeholder="VD: 25, 25.5, 26,..."
              formControlName="groupB"
            />
          </mat-form-field>
          <mat-form-field class="score-field">
            <mat-label>Điểm Khối C:</mat-label>
            <input
              type="text"
              matInput
              placeholder="VD: 25, 25.5, 26,..."
              formControlName="groupC"
            />
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="warn"
          matStepperPrevious
          class="button-next"
          style="margin-right: 0.5em;"
        >
          Quay Lại
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="step2ButtonDisabled"
          class="button-next"
          type="submit"
        >
          {{ formType | changeTitle: "button" }}
        </button>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
