.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    color: white;
    text-decoration: none;
    font-weight: 1.5em;
  }
  &-menu {
    &__item {
      display: inline-block;
      margin: 0 1em;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0.6em;
      border-radius: 1em;
      transition: all 0.8s;
      cursor: pointer;
      //   hover menu item
      &:hover {
        background-color: white;
      }
      &:hover > &-link {
        color: #3f51b5;
        font-weight: 500;
      }

      &-link {
        color: white;
        text-decoration: none;
      }
    }
  }
}
