<mat-toolbar color="primary">
  <div class="header">
    <a routerLink="/" class="header-logo">University Management</a>
    <ul class="header-menu">
      <li
        class="header-menu__item"
        routerLink="add-uni"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"
      >
        <a class="header-menu__item-link">Thêm Trường</a>
      </li>

      <li
        class="header-menu__item"
        routerLink="uni-list"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"

      >
        <a class="header-menu__item-link">Xem Danh Sách Trường</a>
      </li>
      <li
        class="header-menu__item"
        routerLink="student"
        routerLinkActive="active"
        routerLinkActiveOptions="{exact: true}"

      >
        <a class="header-menu__item-link">Xem Điểm Học Sinh</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
